<!DOCTYPE html><!-- このファイルがHTMLであることを宣言 -->
<html lang="ja"><!-- 言語は日本語に設定 -->

<head>
    <meta charset="utf-8">
    <link rel=stylesheet href="../static/css/shift.css"><!-- cssファイルの読み込み -->
    <link rel="icon" href="../static/images/favicon.ico"><!-- ファビコンの設定 -->
    <title>台形面積ツール</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="">台形面積ツール</a>
        </div>

        <nav class="menu">
            <ul>
                <li><a href="">NEWS</a></li>
                <li><a href="">ABOUT</a></li>
                <li><a href="">SERVICES</a></li>
                <li><a href="">CONTACT</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div id="tableArea" data-v-dfe7cefc="">
            <table class="table.schedule" id="nittei" data-v-dfe7cefc="">
                <tr data-v-dfe7cefc="">
                <td data-v-dfe7cefc="">日程</td>
                <td data-v-dfe7cefc="">◯</td>
                <td data-v-dfe7cefc="">△</td>
                <td data-v-dfe7cefc="">×</td>
                <td id="member_0" data-v-dfe7cefc="">
                    <a href="" data-v-dfe7cefc="">ー</a>
                </td>
                </tr>
                <tr class="rate-100" data-v-dfe7cefc="">
                    <td data-v-dfe7cefc="">9/11(月) 19:00〜</td>
                    <td data-v-dfe7cefc="">1
                        <span data-v-dfe7cefc="" style="font-size: 60%;">人</span>
                    </td>
                    <td data-v-dfe7cefc="">0
                        <span data-v-dfe7cefc="" style="font-size: 60%;">人</span>
                    </td>
                    <td data-v-dfe7cefc="">0
                        <span data-v-dfe7cefc="" style="font-size: 60%;">人</span>
                    </td>
                    <td data-v-dfe7cefc="">
                        <img src="https://assets.chouseisan.com/img/ja/event/attendance_choice_table.png" class="mark-attendance-ja-div mark-attendance-ja-div-1" alt="9/11(月) 19:00〜-ーさんの出欠は-まる" data-v-dfe7cefc=""></td>
                    </tr>
                    <tr class="rate-100" data-v-dfe7cefc="">
                        <td data-v-dfe7cefc="">9/12(火) 19:00〜</td>
                        <td data-v-dfe7cefc="">1
                            <span data-v-dfe7cefc="" style="font-size: 60%;">人</span>
                        </td>
                        <td data-v-dfe7cefc="">0
                            <span data-v-dfe7cefc="" style="font-size: 60%;">人</span>
                        </td>
                        <td data-v-dfe7cefc="">0
                            <span data-v-dfe7cefc="" style="font-size: 60%;">人</span>
                        </td>
                        <td data-v-dfe7cefc="">
                            <img src="https://assets.chouseisan.com/img/ja/event/attendance_choice_table.png" class="mark-attendance-ja-div mark-attendance-ja-div-1" alt="9/12(火) 19:00〜-ーさんの出欠は-まる" data-v-dfe7cefc="">
                        </td>
                        </tr>
                        <tr class="comment" data-v-dfe7cefc="">
                            <td data-v-dfe7cefc="">コメント</td>
                            <td data-v-dfe7cefc=""></td>
                            <td data-v-dfe7cefc=""></td>
                            <td data-v-dfe7cefc=""></td>
                            <td class="" data-v-dfe7cefc="" style="font-size: 0.7em;"></td>
                        </tr>
                    </table>
                </div>
</body>
</html>